*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container h1{
    text-align: center;
    font-size: 50px;
    color: #D5D8DC;
    font-family: cursive;
}
.container{
    min-height: 100vh;
    width:100vw;
    padding: 23px;
    background:linear-gradient(#2C3E50,#D5D8DC);
    

}
#input-box{
    border: 3px solid white;
    padding: 23px;
}
input,textarea{
    width:100%;
    background-color: transparent;
    border: none;
    outline: none;
    margin-top: 6px;
    color: white;
}

button{
    background: transparent;
    background-color:#E5E7E9;
    color :black;
    padding: 8px 12px;
    border:1px solid white;
    border-radius: 5px;
    cursor: pointer;
}
#notes{
    padding: 23px;
    display: flex;
    flex-wrap: wrap;
    
}
.note{
    width: 300px;
    color:white;
    margin: 12px;
    border: 1px solid white;
    padding: 12px;
    background: transparent;
    border-radius: 20px;

}

.deleteNote{
     background-color: black;
     float:right;
     color: white;
}
.editNote{
    margin-left: 5px;
    margin-right: 5px;
    background-color: white (42, 165, 196);
    float:right;
}